<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boom</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="grid-item-1">
            <span id='target'>COCHE</span>
        </div>
        
        <div class="grid-item-2">
            <button class='link' id="guess1">CAR</button>
        </div>

        <div class="grid-item-3">
            <button class="link" id="guess2">CAT</button>
        </div>

        <div class="grid-item-4">
            <button class="link" id="guess3">DOG</button>
        </div>

        <div class="grid-item-5">
            <span id="right">RIGHT:</span><br>
            <span id="right-count">0</span>
        </div>

        <div class="grid-item-6">
            <span id="wrong">WRONG:</span><br>
            <span id='wrong-count'>0</span>
        </div>


        <div class="grid-item-7">
            <span id='remaining'>REMAINING:</span><br>
            <span id="remaining-count">0</span>
        </div>
    </div>
    <script type='module' src="/js/utils.js"></script>
    <script type="module" src="js/helper.js"></script>
    <script type='module' src="/js/app.js"></script>
    
</body>
</html>