<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boom</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="grid-item-1">
            <span>COCHE</span>
        </div>
        
        <div class="grid-item-2">
            <button class='link'>CAR</button>
        </div>

        <div class="grid-item-3">
            <button class="link">CAT</button>
        </div>

        <div class="grid-item-4">
            <button class="link">DOG</button>
        </div>

        <div class="grid-item-5">
            <span>RIGHT:</span><br>
            <span>0</span>
        </div>

        <div class="grid-item-6">
            <span>WRONG:</span><br>
            <span>0</span>
        </div>


        <div class="grid-item-7">
            <span>WORDS LEFT:</span><br>
            <span>0</span>
        </div>
    </div>

</body>
</html>