<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boom</title>
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="grid-item-1 invisible game">
            <span id='target'>COCHE</span>
        </div>
        
        <div class="grid-item-2 invisible game">
            <button class='link' id="guess1">CAR</button>
        </div>

        <div class="grid-item-3 invisible game">
            <button class="link" id="guess2">CAT</button>
        </div>

        <div class="grid-item-4 invisible game">
            <button class="link" id="guess3">DOG</button>
        </div>

        <div class="grid-item-5 invisible game">
            <span id="right" class="info">RIGHT:</span><br>
            <span id="right-count" class="info">0</span>
        </div>

        <div class="grid-item-6 invisible game">
            <span id="wrong" class="info">WRONG:</span><br>
            <span id='wrong-count' class="info">0</span>
        </div>


        <div class="grid-item-7 invisible game">
            <span id='remaining' class="info">REMAINING:</span><br>
            <span id="remaining-count" class="info">0</span>
        </div>

        <div class="grid-item-8 result invisible">
            <span id="finished">FINISHED!</span>
        </div>
        <div class="grid-item-9 result invisible">
            <span id="result-correct">Correct:</span>
            <span id="result-correct-count">0</span>
        </div>
        <div class="grid-item-10 result invisible">
            <span id="result-wrong">Wrong:</span>
            <span id="result-wrong-count">0</span>
        </div>

        <div class="grid-item-11 result invisible">
            <span id="result-percentage">percentage:</span>
        </div>
        <div class="grid-item-12 result invisible">
            <button id="play-again">Play again?</span>
        </div>
        
        <div class="grid-item-13 menu"><span>Choose words set!</span></div>
        <div class="grid-item-14 menu"><button class="choose-words" value=5>5</button></div>
        <div class="grid-item-15 menu"><button class="choose-words" value=10>10</button></div>
        <div class="grid-item-16 menu"><button class="choose-words" value=15>15</button></div>
        <div class="grid-item-17 menu"><button class="choose-words" value=20>20</button></div>
        <div class="grid-item-18 menu"><button class="choose-words" value=30>30</button></div>
        <div class="grid-item-19 menu"><button class="choose-words" value=50>50</button></div>
        <div class="grid-item-20 invisible" id="change-word-set"><button id="change-word-set-button">Change word set</button></div>
        <div class="grid-item-21 result invisible">
            <ol id="result-words"></ol>
        </div>
        <div class="grid-item-22">
            <div id="return">Summary</div>
        </div>
    </div>
    <script type='module' src="/js/app.js"></script>
    
</body>
</html>